@charset "UTF-8";

/*font-family: 'Poppins', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --royal-blue-light: #404eed;
  --royal-blue-dark: #3946d4;
  --white: #fff;
  --background: #e2e3e9;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--background);
}

/*nav -------------------------------*/

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--royal-blue-light);
  padding: 1rem;
  height: 4.7rem;
}

.header-nav > a.btn-nav {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.55);
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

a.btn-nav {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  text-decoration: none;
}

li > a.btn-nav:hover {
  background: var(--royal-blue-dark);
}

.label-menu,
.checkbox {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.7rem;
    left: 0;
    background: var(--royal-blue-light);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    transition: 0.5s;
    visibility: hidden;
    overflow-y: hidden;
  }

  .btn-nav {
    padding: 1rem, 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem, solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }

  .label-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding-block: 1rem;
    cursor: pointer;
  }

  .hamburguer {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburguer::before,
  .hamburguer::after {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
}

.checkbox:checked ~ .menu {
  height: calc(100vh - 4.7rem);
  visibility: visible;
  overflow-y: auto;
}

.checkbox:checked ~ .label-menu .hamburguer {
  border-top-color: transparent;
}
.checkbox:checked ~ .label-menu .hamburguer::before {
  transform: rotate(135deg);
}

.checkbox:checked ~ .label-menu .hamburguer::after {
  transform: rotate(-135deg);
  top: -0.4375rem;
}

/*Cadastro ------------------------------*/

main {
  width: 100%;
  min-height: calc(100vh - 4.7rem);
  background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header-login {
  background-color: #eee;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 38px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

form button {
  background-color: #fc00ff;
  border: 2px solid #fc00ff;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

/*Error and Success*/

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}